<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="Pigrimage Sacred Travel" content="width=divice-width, initial-scale=1">
		<title>Pilgrimage Sacred Travel</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="/style.css">
		<script>
  		UPLOADCARE_LOCALE = "en";
  		UPLOADCARE_TABS = "file facebook";
  		UPLOADCARE_PUBLIC_KEY = "3ab2a21e3dd8a6a0f126";
		</script>
		<script charset="utf-8" src="//ucarecdn.com/libs/widget/3.1.2/uploadcare.full.min.js"></script>
	</head>
	<body>
		<%- include nav %>
